@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #91dae6 !important;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
    overflow-y: scroll;
}
.container_left{
background: url("https://cdn.dribbble.com/users/3960463/screenshots/14473863/119_medical_care-01.png") no-repeat center center;
background-size: cover;
/* border-radius: 1rem !important; */
margin-right:-10px ;
z-index: 10;
}
.innerGlass{
    height:80vh;
    
    margin-top: 5rem;
    margin-left: 6rem;
    width:70%;
    background: rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.47 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.main_container{
    /* width:80%; */
    box-shadow: .6px 0.6px 10px -4px;
    height:100vh;
  /* margin: 5% 10%; */
   
}
.innerGlass h1{
    color: snow;
    font-family: 'Poppins';
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    text-shadow: 1px 1px 4px;
    
}
.innerGlass h6{
    width:10rem;
    color: snow;
    font-weight: bolder;
    /* margin-left: 2rem; */
    padding-left: 2rem;
    padding-top: 1rem;
    transition: transform linear 200ms;
    font-size: 1.3rem;
    text-decoration: none;
}
.innerGlass h6:hover{
    color: snow;
    transform: scale(1.1);
    text-decoration: none;
}
.innerGlass a:hover{
    text-decoration: none;
}
.golog{
    margin-top: 12rem;
}
.innerGlass p{
    color: snow;
    font-family: 'POPPINS';
    width: 70%;
    margin-left: 2rem;
    margin-top: 4rem;
    opacity: 0.8;
}
#homebody{
    background:snow !important;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}
nav{
    background-color:darkslateblue !important;
    padding: 0px !important
}
.main_container .row{
    height:100vh
}
.about .row{
    height: 70vh;
    padding: 5vh 5rem;
    margin-top: 3rem;
    background-color:#008275;
}
.rightabout{
    background: url("https://cdn.dribbble.com/users/2008861/screenshots/14293050/media/81c828595bd4135765fa3df8087dd467.gif") no-repeat center center;
    background-size: cover;
}
.leftabout p{
    font-family: 'POPPINS';
    color: #ccc;
    text-align: justify;
    font-weight: 200;
    letter-spacing: 2px;
    padding-top: 1rem;
}
.leftabout h1{
    font-size: 3rem;
    color: #ccc;
    text-shadow: 1px 1px 5px #000b08;
    margin-top: 2rem;
}
nav li a{
    color: snow !important;
    transition: background-color 500ms ease;
    padding: 1rem !important;
}
nav li a:hover{
    background-color: snow !important;
    color:darkslateblue !important;
}
nav li a:focus{
    background-color:snow !important;
    color: darkslateblue !important;
}
.container_right{
    justify-content: center;
    background: #f2ffff;
    /* border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important; */
    padding: 2rem;
   
}
ul{
    margin-left: 35rem;
}
li{
    padding-left: 5rem !important;
}
.hide{
    display: none;
}
.container_right h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: bolder;
    color: darkslateblue;
    text-shadow: 2px 2px 3px #aaa;
}
.container_right form{
    padding: 3.5rem;
    text-align: center;
    margin-top: 2rem;
}
.container_right .form-group{
    text-align: left;
}
.buttons{
    width:6rem !important;
    height:2.5rem !important;
    transition:background-color 500ms ease !important;
    background: darkslateblue !important;
    color: white !important;
    border: 1px solid darkslateblue !important;
    margin-top: 4rem;
}
.buttons:hover{
    background-color: snow !important;
    color: darkslateblue !important;
}
.playgame{
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}
.play{
    width: 7rem !important;
    margin-bottom: 1rem;
    height: 2.8rem !important;
    background:#008275 !important;
    color: snow !important;
    transition: background-color 500ms ease !important;
}
.play:hover{
    background-color:#ccc !important;
    color: #008275 !important;
}
.leaderboard h1{
    text-shadow: 1px 1px 2px;
    text-align: center;
    padding-bottom: 1rem;
}
#id1{
    background:url("https://cdn.dribbble.com/users/59947/screenshots/15147954/muti_2_4x.jpg") no-repeat center center;
    background-size: cover !important;
}
td img{
    width:10%
}

.leaderboard .row{
    background: #eee;
    padding: 2rem;
}
td,th {
    vertical-align:center
}
.right{
    overflow-y: scroll;
    height: 40vh;
    
}
.right::-webkit-scrollbar{
    display:none
}
.nutritionstats h1{
    text-align:center;
    font-size: 3rem;
    margin: 2rem 0rem;
    text-shadow: 1px 1px 3px;
}
canvas{
    padding: 1rem;
    width:40rem !important;
    height: 30rem !important;
}
.nutritionstats table{
    margin: 1rem 2rem;
}
.navbar-brand{
    color: snow !important;
    font-weight: bolder;
    font-family: 'Poppins';
    margin-left:1rem ;
}
#myChart2{
    width:30rem !important;
    margin-left: 5rem;
    height:28rem !important
}
footer{
    font-size: 1.6rem;
    text-align:center;
    background: #222;
    color: snow;padding: 2rem;
}